## 1 什么是Pandas（本部分省略）

## 2  Pandas读取数据

In [1]:
import pandas as pd

### 2.1 读取纯文本文件

#### 2.1.1 读取纯文本csv文件

In [13]:
#数据文件所在的路径
fpath="../datas/ml-latest-small/ratings.csv"

In [6]:
ratings=pd.read_csv(fpath)

In [11]:
#默认查看前5行
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
ratings.shape

(100836, 4)

In [9]:
ratings.index

RangeIndex(start=0, stop=100836, step=1)

In [10]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [12]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

#### 2.1.2 读取纯文本txt文件,自己指定分隔符、列名

In [16]:
#数据文件所在的路径
fpath="../datas/crazyant/access_pvuv.txt"

In [17]:
pvuv=pd.read_csv(
     fpath,
     sep='\t',
     header=None,
     names=['pdata','pv','uv'])

In [18]:
pvuv

        pdata   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

### 2.2 读取excel中xlsx文件

In [20]:
#数据文件所在的路径
fpath="../datas/crazyant/access_pvuv.xlsx"

In [21]:
pvuv=pd.read_excel(fpath)

In [22]:
pvuv

           日期   PV   UV
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

### 2.3 读取Mysql数据(需要在本地新建数据表）

In [23]:
import  mysql
conn=pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='123456',
    database='test',
    charset='utf8'
   )

ModuleNotFoundError: No module named 'mysql'

In [24]:
mysql_page=pd.read_sql("select * from crazyant_pvuv",con=conn)

NameError: name 'conn' is not defined

In [25]:
mysql_page

NameError: name 'mysql_page' is not defined

## 3  Pandas数据结构

In [26]:
import pandas  as  pd
import numpy  as  np

### 3.1 Series

#### 3.1.1 创建没有索引的series

In [27]:
s1=pd.Series([1,'a',3.4,7])
s1

0      1
1      a
2    3.4
3      7
dtype: object

In [28]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [29]:
s1.values

array([1, 'a', 3.4, 7], dtype=object)

#### 3.1.2 创建有索引的series

In [30]:
s2=pd.Series([1,'a',3.4,7],index=['a','b','c','d'])
s2

a      1
b      a
c    3.4
d      7
dtype: object

In [31]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [32]:
s2.values

array([1, 'a', 3.4, 7], dtype=object)

#### 3.1.3 使用Python字典创建series

In [33]:
sdata={'ohce':23454,'assd':4500,'orign':2300,'utach':5000}
s3=pd.Series(sdata)

In [34]:
s3

ohce     23454
assd      4500
orign     2300
utach     5000
dtype: int64

#### 3.1.4 使用标签索引查询数据

In [35]:
s2

a      1
b      a
c    3.4
d      7
dtype: object

In [36]:
s2['a']

1

In [37]:
type(s2['b'])

str

In [38]:
s2[['a','c']]

a      1
c    3.4
dtype: object

### 3.2 DataFrame

#### 3.2.1 根据多个字典序列创建dataframe

In [39]:
data={
    'state':['sds','sdsdsd','er','ds'],
    'year':[200,2001,2002,2003],
    'pop':[1.4,3.5,5.7,4.6]
}

In [40]:
df=pd.DataFrame(data)

In [41]:
df

    state  year  pop
0     sds   200  1.4
1  sdsdsd  2001  3.5
2      er  2002  5.7
3      ds  2003  4.6

In [43]:
df.dtypes

state     object
year       int64
pop      float64
dtype: object

In [44]:
df.shape

(4, 3)

In [45]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [47]:
df.columns

Index(['state', 'year', 'pop'], dtype='object')

### 3.3 从DataFrame查找Series

#### 3.3.1 查询一列  返回series

In [48]:
df['year']

0     200
1    2001
2    2002
3    2003
Name: year, dtype: int64

In [49]:
type(df['year'])

pandas.core.series.Series

#### 3.3.2 查询多列  返回dataframe

In [50]:
df[['year','pop']]

   year  pop
0   200  1.4
1  2001  3.5
2  2002  5.7
3  2003  4.6

In [51]:
type(df[['year','pop']])

pandas.core.frame.DataFrame

#### 3.3.3 查询一行  返回series

In [52]:
df.loc[1]

state    sdsdsd
year       2001
pop         3.5
Name: 1, dtype: object

In [53]:
type(df.loc[1])

pandas.core.series.Series

#### 3.3.4 查询多行  返回dataframe

In [54]:
df.loc[1:3]

    state  year  pop
1  sdsdsd  2001  3.5
2      er  2002  5.7
3      ds  2003  4.6

In [55]:
type(df.loc[1:3])

pandas.core.frame.DataFrame

## 4 Pandas数据查询

### 4.0 读书数据

In [56]:
df=pd.read_csv("../datas/beijing_tianqi/beijing_tianqi_2018.csv")

In [57]:
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [58]:
#设定索引为日期，方便按照日期查询
df.set_index('ymd',inplace=True)

In [59]:
#时间序列处理见后续课程，本次按照字符串处理
df.index

Index(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
       '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09', '2018-01-10',
       ...
       '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25', '2018-12-26',
       '2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30', '2018-12-31'],
      dtype='object', name='ymd', length=365)

### 4.1 df.loc查询

In [60]:
df.head()

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [63]:
#替换最高温度和最低温度后缀。C
df.loc[:,'bWendu']=df['bWendu'].str.replace('℃','').astype('int32')
df.loc[:,'yWendu']=df['yWendu'].str.replace('℃','').astype('int32')

In [64]:
df.dtypes

bWendu        int32
yWendu        int32
tianqi       object
fengxiang    object
fengli       object
aqi           int64
aqiInfo      object
aqiLevel      int64
dtype: object

In [65]:
df.head()

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2018-01-03       2      -5     多云        北风   1-2级   28       优         1
2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1

#### 4.1.1 使用单个label值查询数据

行或列，都可以传入单个值，实现精确匹配

In [67]:
#得到单个值
df.loc['2018-01-03','bWendu']

2

In [68]:
#得到一个series
df.loc['2018-01-03',['bWendu','yWendu']]

bWendu     2
yWendu    -5
Name: 2018-01-03, dtype: object

In [80]:
#此种写法报错，在 pandas 中，df.loc[row_index, column_index] 用于选择数据，
#其中 row_index 是行的索引，column_index 是列的名称。
#在你的代码 df.loc['2018-01-03','2018-01-04'] 中，pandas 试图找到名为 '2018-01-04' 的列，
#但是这个列不存在，所以你看到了 KeyError。

df.loc['2018-01-03','2018-01-04']

KeyError: '2018-01-04'

In [79]:
#如果你想选择日期为 '2018-01-03' 和 '2018-01-04' 的行，你可以试试以下的方式：
df.loc[['2018-01-03', '2018-01-04']]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-03       2      -5     多云        北风   1-2级   28       优         1
2018-01-04       0      -8      阴       东北风   1-2级   28       优         1

#### 4.1.2 使用值列表批量查询

In [81]:
#得到series
df.loc[['2018-01-03', '2018-01-04'],'bWendu']

ymd
2018-01-03    2
2018-01-04    0
Name: bWendu, dtype: int32

In [82]:
#得到dataframe
df.loc[['2018-01-03', '2018-01-04'],['bWendu','yWendu']]

            bWendu  yWendu
ymd
2018-01-03       2      -5
2018-01-04       0      -8

#### 4.1.3 使用数值区间进行范围查询

注意：使用区间既包含开始也包含结束

In [83]:
df.loc['2018-01-03':'2018-01-06','bWendu':'fengli']

            bWendu  yWendu tianqi fengxiang fengli
ymd
2018-01-03       2      -5     多云        北风   1-2级
2018-01-04       0      -8      阴       东北风   1-2级
2018-01-05       3      -6   多云~晴       西北风   1-2级
2018-01-06       2      -5   多云~阴       西南风   1-2级

In [84]:
df.loc['2018-01-03','bWendu':'fengli']

bWendu          2
yWendu         -5
tianqi         多云
fengxiang      北风
fengli       1-2级
Name: 2018-01-03, dtype: object

In [85]:
df.loc['2018-01-03':'2018-01-06','bWendu']

ymd
2018-01-03    2
2018-01-04    0
2018-01-05    3
2018-01-06    2
Name: bWendu, dtype: int32

#### 4.1.4 使用条件表达式进行查询

bool列表的长度等于行数或者列数

In [87]:
df.loc[df['yWendu']<-10,:]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-23      -4     -12      晴       西北风   3-4级   31       优         1
2018-01-24      -4     -11      晴       西南风   1-2级   34       优         1
2018-01-25      -3     -11     多云       东北风   1-2级   27       优         1
2018-12-26      -2     -11   晴~多云       东北风     2级   26       优         1
2018-12-27      -5     -12   多云~晴       西北风     3级   48       优         1
2018-12-28      -3     -11      晴       西北风     3级   40       优         1
2018-12-29      -3     -12      晴       西北风     2级   29       优         1
2018-12-30      -2     -11   晴~多云       东北风     1级   31       优         1

In [88]:
#观察bool条件
df['yWendu']<-10

ymd
2018-01-01    False
2018-01-02    False
2018-01-03    False
2018-01-04    False
2018-01-05    False
              ...
2018-12-27     True
2018-12-28     True
2018-12-29     True
2018-12-30     True
2018-12-31    False
Name: yWendu, Length: 365, dtype: bool

#### 复杂条件查询

注意组合条件使用&、|

In [89]:
df.loc[(df['bWendu']<=30) & (df['yWendu']>=15) & (df['tianqi']=='晴') & (df['aqiLevel']==1),: ]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-08-24      30      20      晴        北风   1-2级   40       优         1
2018-09-07      27      16      晴       西北风   3-4级   22       优         1

In [90]:
#再次观察复杂条件的bool值
(df['bWendu']<=30) & (df['yWendu']>=15) & (df['tianqi']=='晴') & (df['aqiLevel']==1)

ymd
2018-01-01    False
2018-01-02    False
2018-01-03    False
2018-01-04    False
2018-01-05    False
              ...
2018-12-27    False
2018-12-28    False
2018-12-29    False
2018-12-30    False
2018-12-31    False
Length: 365, dtype: bool

#### 4.1.5 使用函数查询

In [92]:
df.loc[lambda df: (df['bWendu']<=30) & (df['yWendu']>=15),:]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-04-28      27      17      晴       西南风   3-4级  125    轻度污染         3
2018-04-29      30      16     多云        南风   3-4级  193    中度污染         4
2018-05-04      27      16   晴~多云       西南风   1-2级   86       良         2
2018-05-09      29      17   晴~多云       西南风   3-4级   79       良         2
2018-05-10      26      18     多云        南风   3-4级  118    轻度污染         3
...            ...     ...    ...       ...    ...  ...     ...       ...
2018-09-15      26      15     多云        北风   3-4级   42       优         1
2018-09-17      27      17   多云~阴        北风   1-2级   37       优         1
2018-09-18      25      17   阴~多云       西南风   1-2级   50       优         1
2018-09-19      26      17     多云        南风   1-2级   52       良         2
2018-09-20      27      16     多云       西南风   1-2级   63       良         2

[64 rows x 8 columns]

In [93]:
#编写自己的函数,查询9月份空气质量为优秀的

def query_my_data(df):
    return df.index.str.startswith("2018-09")& df['aqiLevel']==1
df.loc[query_my_data,:]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-09-01      27      19   阴~小雨        南风   1-2级   50       优         1
2018-09-04      31      18      晴       西南风   3-4级   24       优         1
2018-09-05      31      19   晴~多云       西南风   3-4级   34       优         1
2018-09-06      27      18   多云~晴       西北风   4-5级   37       优         1
2018-09-07      27      16      晴       西北风   3-4级   22       优         1
2018-09-08      27      15   多云~晴        北风   1-2级   28       优         1
2018-09-13      29      20   多云~阴        南风   1-2级  107    轻度污染         3
2018-09-14      28      19  小雨~多云        南风   1-2级  128    轻度污染         3
2018-09-15      26      15     多云        北风   3-4级   42       优         1
2018-09-16      25      14   多云~晴        北风   1-2级   29       优         1
2018-09-17      27      17   多云~阴        北风   1-2级   37       优         1
2018-09-18      25      17   阴~多云       西南风   1-2级   50       优         1
2018-09-21      25      14      晴       西北风   3-4级   50       优         1
2018-09-22      24      13      晴       西北风   3-4级   28       优         1
2018-09-23      23      12      晴       西北风   4-5级   28       优         1
2018-09-24      23      11      晴        北风   1-2级   28       优         1
2018-09-25      24      12   晴~多云        南风   1-2级   44       优         1
2018-09-29      22      11      晴        北风   3-4级   21       优         1
2018-09-30      19      13     多云       西北风   4-5级   22       优         1

### 4.2 df.iloc查询

In [110]:
df.iloc[2,[3,0,1]]

tianqi            多云
ymd       2018-01-03
bWendu             2
Name: 2, dtype: object

In [111]:
df.iloc[[1,2],[3,0,1]]

  tianqi         ymd  bWendu
1   阴~多云  2018-01-02       2
2     多云  2018-01-03       2

In [113]:
df.iloc[:5,:4]

          ymd  bWendu  yWendu tianqi
0  2018-01-01       3      -6   晴~多云
1  2018-01-02       2      -5   阴~多云
2  2018-01-03       2      -5     多云
3  2018-01-04       0      -8      阴
4  2018-01-05       3      -6   多云~晴

In [115]:
df.iloc[:,:3][df.bWendu>30]

            ymd  bWendu  yWendu
133  2018-05-14      34      22
134  2018-05-15      31      22
143  2018-05-24      31      17
144  2018-05-25      31      19
146  2018-05-27      32      17
..          ...     ...     ...
236  2018-08-25      31      22
237  2018-08-26      31      22
240  2018-08-29      31      20
246  2018-09-04      31      18
247  2018-09-05      31      19

[71 rows x 3 columns]

### 4.3 df.query查询

In [116]:
#查询最高温度大于30度的数据
df.query("bWendu>30")

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,wendu_type,wencha_type
133,2018-05-14,34,22,晴~多云,南风,3-4级,158,中度污染,4,12,高温,温差大
134,2018-05-15,31,22,小雨,南风,1-2级,93,良,2,9,常温,温差正常
143,2018-05-24,31,17,晴,南风,3-4级,99,良,2,14,常温,温差大
144,2018-05-25,31,19,多云,西南风,1-2级,98,良,2,12,常温,温差大
146,2018-05-27,32,17,多云,西南风,3-4级,89,良,2,15,常温,温差大
...,...,...,...,...,...,...,...,...,...,...,...,...
236,2018-08-25,31,22,多云~小雨,南风,1-2级,62,良,2,9,常温,温差正常
237,2018-08-26,31,22,雷阵雨,东南风,1-2级,76,良,2,9,常温,温差正常
240,2018-08-29,31,20,晴~多云,北风,3-4级,44,优,1,11,常温,温差大
246,2018-09-04,31,18,晴,西南风,3-4级,24,优,1,13,常温,温差大
247,2018-09-05,31,19,晴~多云,西南风,3-4级,34,优,1,12,常温,温差大

In [119]:
#查询最高温度大于30度并且最低温度小于20的数据
df.query("bWendu>30 & yWendu<20")

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,wendu_type,wencha_type
143,2018-05-24,31,17,晴,南风,3-4级,99,良,2,14,常温,温差大
144,2018-05-25,31,19,多云,西南风,1-2级,98,良,2,12,常温,温差大
146,2018-05-27,32,17,多云,西南风,3-4级,89,良,2,15,常温,温差大
148,2018-05-29,31,16,多云,西北风,1-2级,41,优,1,15,常温,温差大
149,2018-05-30,33,18,晴,西风,1-2级,46,优,1,15,常温,温差大
150,2018-05-31,35,19,晴,南风,1-2级,79,良,2,16,高温,温差大
153,2018-06-03,32,19,多云,北风,1-2级,92,良,2,13,常温,温差大
158,2018-06-08,32,19,多云~雷阵雨,西南风,1-2级,43,优,1,13,常温,温差大
162,2018-06-12,32,19,多云~雷阵雨,东南风,1-2级,116,轻度污染,3,13,常温,温差大
246,2018-09-04,31,18,晴,西南风,3-4级,24,优,1,13,常温,温差大
247,2018-09-05,31,19,晴~多云,西南风,3-4级,34,优,1,12,常温,温差大

In [120]:
#查询最高温度大于30度并且最低温度小于20并且空气质量为优秀的数据
df.query("bWendu>30 & yWendu<20 &aqiLevel==1")

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,wendu_type,wencha_type
148,2018-05-29,31,16,多云,西北风,1-2级,41,优,1,15,常温,温差大
149,2018-05-30,33,18,晴,西风,1-2级,46,优,1,15,常温,温差大
158,2018-06-08,32,19,多云~雷阵雨,西南风,1-2级,43,优,1,13,常温,温差大
246,2018-09-04,31,18,晴,西南风,3-4级,24,优,1,13,常温,温差大
247,2018-09-05,31,19,晴~多云,西南风,3-4级,34,优,1,12,常温,温差大

## 5 Pandas新增数据列

### 5.0 读取数据

In [94]:
df=pd.read_csv("../datas/beijing_tianqi/beijing_tianqi_2018.csv")

In [95]:
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

### 5.1 直接赋值方法

实例：清理温度列，变成数字类型

In [96]:
#替换最高温度和最低温度后缀。C
df.loc[:,'bWendu']=df['bWendu'].str.replace('℃','').astype('int32')
df.loc[:,'yWendu']=df['yWendu'].str.replace('℃','').astype('int32')

In [97]:
df.head()

          ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03       2      -5     多云        北风   1-2级   28       优         1
3  2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
4  2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1

#### 实例：计算温差

In [99]:
#注意，df['bWendu']其实是一个serties,相减结果为一个series
df.loc[:,'wencha']=df['bWendu']-df['yWendu']

In [101]:
df.head(10)

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9
5,2018-01-06,2,-5,多云~阴,西南风,1-2级,32,优,1,7
6,2018-01-07,2,-4,阴~多云,西南风,1-2级,59,良,2,6
7,2018-01-08,2,-6,晴,西北风,4-5级,50,优,1,8
8,2018-01-09,1,-8,晴,西北风,3-4级,34,优,1,9
9,2018-01-10,-2,-10,晴,西北风,1-2级,26,优,1,8

### 5.2 df.apply方法

#### 实例：添加一个温度类型

1.如果最高温度大于33度就是高温

2.低于-10度就是低温

3.否则为常温

In [103]:
def get_wendu_type(x):
    if x['bWendu']>33:
        return  '高温'
    if x['yWendu']<-10:
        return  '低温'
    return  '常温'

#注意设置axis=1 表示这是series的 index是columns
df.loc[:,"wendu_type"]=df.apply(get_wendu_type,axis=1)

In [106]:
df['wendu_type'].value_counts()

常温    328
高温     29
低温      8
Name: wendu_type, dtype: int64

### 5.3 df.assign

In [107]:
#可以同时添加多个新的列
df.assign(

   yWendu_huashi=lambda x:x['yWendu']*9/5+32,  
   bWendu_huashi=lambda x:x['bWendu']*9/5+32

)

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,wendu_type,yWendu_huashi,bWendu_huashi
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,常温,21.2,37.4
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,常温,23.0,35.6
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,常温,23.0,35.6
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,常温,17.6,32.0
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,常温,21.2,37.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,7,低温,10.4,23.0
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,8,低温,12.2,26.6
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,9,低温,10.4,26.6
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,9,低温,12.2,28.4
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,8,常温,14.0,28.4

### 5.4 按照条件选择分组分别赋值

按照条件选择数据，然后对这部分数据赋值新列

实例：高低温差大于10度则认为温差大

In [108]:
#先创建空列
df['wencha_type']=''

df.loc[df['bWendu']-df['yWendu']>10,'wencha_type']="温差大"

df.loc[df['bWendu']-df['yWendu']<=10,'wencha_type']="温差正常"

In [109]:
df['wencha_type'].value_counts()

温差正常    187
温差大     178
Name: wencha_type, dtype: int64

## 6 Pandas数据统计函数

In [121]:
df=pd.read_csv("../datas/beijing_tianqi/beijing_tianqi_2018.csv")

In [122]:
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [123]:
#替换最高温度和最低温度后缀。C
df.loc[:,'bWendu']=df['bWendu'].str.replace('℃','').astype('int32')
df.loc[:,'yWendu']=df['yWendu'].str.replace('℃','').astype('int32')

In [124]:
df.head()

          ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03       2      -5     多云        北风   1-2级   28       优         1
3  2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
4  2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1

### 6.1 汇总类统计

In [126]:
#以下提取所有数字列统计结果
df.describe()

           bWendu      yWendu         aqi    aqiLevel
count  365.000000  365.000000  365.000000  365.000000
mean    18.665753    8.358904   82.183562    2.090411
std     11.858046   11.755053   51.936159    1.029798
min     -5.000000  -12.000000   21.000000    1.000000
25%      8.000000   -3.000000   46.000000    1.000000
50%     21.000000    8.000000   69.000000    2.000000
75%     29.000000   19.000000  104.000000    3.000000
max     38.000000   27.000000  387.000000    6.000000

In [128]:
## 查看单个列平均值
df['bWendu'].mean()

18.665753424657535

In [129]:
## 查看单个最大值
df['bWendu'].max()

38

In [130]:
## 查看单个最大值
df['bWendu'].min()

-5

### 6.2 唯一去重和按值计算

#### 6.2.1唯一去重

In [131]:
df['fengxiang'].unique()

array(['东北风', '北风', '西北风', '西南风', '南风', '东南风', '东风', '西风'], dtype=object)

In [132]:
df['fengli'].unique()

array(['1-2级', '4-5级', '3-4级', '2级', '1级', '3级'], dtype=object)

In [133]:
df['tianqi'].unique()

array(['晴~多云', '阴~多云', '多云', '阴', '多云~晴', '多云~阴', '晴', '阴~小雪', '小雪~多云',
       '小雨~阴', '小雨~雨夹雪', '多云~小雨', '小雨~多云', '大雨~小雨', '小雨', '阴~小雨',
       '多云~雷阵雨', '雷阵雨~多云', '阴~雷阵雨', '雷阵雨', '雷阵雨~大雨', '中雨~雷阵雨', '小雨~大雨',
       '暴雨~雷阵雨', '雷阵雨~中雨', '小雨~雷阵雨', '雷阵雨~阴', '中雨~小雨', '小雨~中雨', '雾~多云',
       '霾'], dtype=object)

#### 6.2.1按照值计算

In [135]:
df['fengxiang'].value_counts()

南风     92
西南风    64
北风     54
西北风    51
东南风    46
东北风    38
东风     14
西风      6
Name: fengxiang, dtype: int64

In [136]:
df['fengli'].value_counts()

1-2级    236
3-4级     68
1级       21
4-5级     20
2级       13
3级        7
Name: fengli, dtype: int64

In [137]:
df['tianqi'].value_counts()

晴         101
多云         95
多云~晴       40
晴~多云       34
多云~雷阵雨     14
多云~阴       10
雷阵雨         8
小雨~多云       8
阴~多云        8
雷阵雨~多云      7
小雨          6
多云~小雨       5
阴           4
雷阵雨~中雨      4
中雨~小雨       2
中雨~雷阵雨      2
阴~小雨        2
霾           2
大雨~小雨       1
阴~雷阵雨       1
小雨~雨夹雪      1
雷阵雨~大雨      1
小雨~阴        1
小雨~大雨       1
暴雨~雷阵雨      1
小雪~多云       1
小雨~雷阵雨      1
雷阵雨~阴       1
阴~小雪        1
小雨~中雨       1
雾~多云        1
Name: tianqi, dtype: int64

### 6.3 相关系数和协方差

用途

1.两只股票是否相关

2.产品销量的波动，跟那些因素有关，正相关、副相关

协方差：衡量同向反向程度

相关系数：衡量相似程度

In [138]:
#协方差
df.cov()

              bWendu      yWendu          aqi   aqiLevel
bWendu    140.613247  135.529633    47.462622   0.879204
yWendu    135.529633  138.181274    16.186685   0.264165
aqi        47.462622   16.186685  2697.364564  50.749842
aqiLevel    0.879204    0.264165    50.749842   1.060485

In [139]:
#相关系数
df.corr()

            bWendu    yWendu       aqi  aqiLevel
bWendu    1.000000  0.972292  0.077067  0.071999
yWendu    0.972292  1.000000  0.026513  0.021822
aqi       0.077067  0.026513  1.000000  0.948883
aqiLevel  0.071999  0.021822  0.948883  1.000000

In [141]:
#单独查看空气质量和温度相关系数
df['aqi'].corr(df['bWendu'])

0.07706705916811069

## 7 Pandas缺失值处理

In [144]:
#skiprows=2  略过2行
df=pd.read_excel("../datas/student_excel/student_excel.xlsx",skiprows=2)

In [145]:
df.head()

   Unnamed: 0   姓名   科目    分数
0         NaN   小明   语文  85.0
1         NaN  NaN   数学  80.0
2         NaN  NaN   英语  90.0
3         NaN  NaN  NaN   NaN
4         NaN   小王   语文  85.0

### 7.1 isnull  和notnull 检测空值

In [146]:
df.isnull()

    Unnamed: 0     姓名     科目     分数
0         True  False  False  False
1         True   True  False  False
2         True   True  False  False
3         True   True   True   True
4         True  False  False  False
5         True   True  False   True
6         True   True  False  False
7         True   True   True   True
8         True  False  False  False
9         True   True  False  False
10        True   True  False  False

In [147]:
df['分数'].isnull()

0     False
1     False
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9     False
10    False
Name: 分数, dtype: bool

In [148]:
df['分数'].notnull()

0      True
1      True
2      True
3     False
4      True
5     False
6      True
7     False
8      True
9      True
10     True
Name: 分数, dtype: bool

In [149]:
#筛选没有空分数的行
df.loc[df['分数'].notnull(),:]

    Unnamed: 0   姓名  科目    分数
0          NaN   小明  语文  85.0
1          NaN  NaN  数学  80.0
2          NaN  NaN  英语  90.0
4          NaN   小王  语文  85.0
6          NaN  NaN  英语  90.0
8          NaN   小刚  语文  85.0
9          NaN  NaN  数学  80.0
10         NaN  NaN  英语  90.0

### 7.2 dropna删除空值

函数有三个参数：

axis:表示删除行还是删除列，｛0 or 'index' 1 or 'columns'｝,default  为0

how:如果等于any则任何值为空都删除，如果等于all表示所有都为空值才删除

inplace：如果为true则修改当前的df  如果为False表示返回新的df

In [151]:
df.dropna(axis='columns',how='all',inplace=True)

In [152]:
df

     姓名   科目    分数
0    小明   语文  85.0
1   NaN   数学  80.0
2   NaN   英语  90.0
3   NaN  NaN   NaN
4    小王   语文  85.0
5   NaN   数学   NaN
6   NaN   英语  90.0
7   NaN  NaN   NaN
8    小刚   语文  85.0
9   NaN   数学  80.0
10  NaN   英语  90.0

In [153]:
df.dropna(axis='index',how='all',inplace=True)
df

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   NaN
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

### 7.3 fillna填充空值

四个参数：

value:用于填充的值，可以单个或者字典（key是列名，value是值）

method:等于ffill使用前一个不为空值填充forword fill;等bfill表示使用后一个不为空值填充backword fill

axis:表示删除行还是删除列，｛0 or 'index' 1 or 'columns'｝,default  为0


inplace：如果为true则修改当前的df  如果为False表示返回新的df

In [156]:
df.fillna({'分数':0})

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   0.0
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [162]:
df.loc[:,'分数']=df['分数'].fillna(0)

In [158]:
df

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   0.0
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [159]:
df.loc[:,'姓名']=df['姓名'].fillna(method='ffill')

In [160]:
df

    姓名  科目    分数
0   小明  语文  85.0
1   小明  数学  80.0
2   小明  英语  90.0
4   小王  语文  85.0
5   小王  数学   0.0
6   小王  英语  90.0
8   小刚  语文  85.0
9   小刚  数学  80.0
10  小刚  英语  90.0

### 7.4 清洗好的数据生成excel文件

In [161]:
#index=false表示不希望索引填充到excel中
df.to_excel('../datas/student_excel/student_excel_clean.xlsx',index=False)

## 8 Pandas SettingWithCopyWarning报警解决方法

In [163]:
df=pd.read_csv("../datas/beijing_tianqi/beijing_tianqi_2018.csv")
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [164]:
#替换最高温度和最低温度后缀。C
df.loc[:,'bWendu']=df['bWendu'].str.replace('℃','').astype('int32')
df.loc[:,'yWendu']=df['yWendu'].str.replace('℃','').astype('int32')

In [165]:
df.head()

          ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03       2      -5     多云        北风   1-2级   28       优         1
3  2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
4  2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1

### 8.1 复现

In [166]:
#只选出3月份的数据用于分析
condition=df['ymd'].str.startswith('2018-03')

In [168]:
#设置温差
df[condition]['wen_cha']=df['yWendu']-df['bWendu']

C:\Users\cxq\AppData\Local\Temp\ipykernel_19012\2749656225.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[condition]['wen_cha']=df['yWendu']-df['bWendu']

In [170]:
#查看是否修改成功
df[condition].head()

           ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
59  2018-03-01       8      -3     多云       西南风   1-2级   46       优         1
60  2018-03-02       9      -1   晴~多云        北风   1-2级   95       良         2
61  2018-03-03      13       3   多云~阴        北风   1-2级  214    重度污染         5
62  2018-03-04       7      -2   阴~多云       东南风   1-2级  144    轻度污染         3
63  2018-03-05       8      -3      晴        南风   1-2级   94       良         2

### 8.2 原因

df[condition]['wen_cha']=df['yWendu']-df['bWendu']

相当于df.get(condition).set(wen_cha)，第一步get出现告警

核心要诀：dataframe修改操作只允许在源数据进行，一步到位

### 8.3 解决方法1

get+set改成set一步操作

In [171]:
df.loc[condition,'wen_cha']=df['yWendu']-df['bWendu']

In [172]:
df[condition].head()

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wen_cha
59,2018-03-01,8,-3,多云,西南风,1-2级,46,优,1,-11.0
60,2018-03-02,9,-1,晴~多云,北风,1-2级,95,良,2,-10.0
61,2018-03-03,13,3,多云~阴,北风,1-2级,214,重度污染,5,-10.0
62,2018-03-04,7,-2,阴~多云,东南风,1-2级,144,轻度污染,3,-9.0
63,2018-03-05,8,-3,晴,南风,1-2级,94,良,2,-11.0

### 8.4 解决方法2

使用copy复制dataframe

In [174]:
df_month3=df[condition].copy()

In [175]:
df_month3.head()

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wen_cha
59,2018-03-01,8,-3,多云,西南风,1-2级,46,优,1,-11.0
60,2018-03-02,9,-1,晴~多云,北风,1-2级,95,良,2,-10.0
61,2018-03-03,13,3,多云~阴,北风,1-2级,214,重度污染,5,-10.0
62,2018-03-04,7,-2,阴~多云,东南风,1-2级,144,轻度污染,3,-9.0
63,2018-03-05,8,-3,晴,南风,1-2级,94,良,2,-11.0

## 9 Pandas 数据排序

In [176]:
df=pd.read_csv("../datas/beijing_tianqi/beijing_tianqi_2018.csv")
#替换最高温度和最低温度后缀。C
df.loc[:,'bWendu']=df['bWendu'].str.replace('℃','').astype('int32')
df.loc[:,'yWendu']=df['yWendu'].str.replace('℃','').astype('int32')

In [177]:
df.head()

          ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03       2      -5     多云        北风   1-2级   28       优         1
3  2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
4  2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1

### 9.1 Series排序


ascending:默认为True升序

inplace:是否修改原始series

In [179]:
df['aqi'].sort_values()

271     21
281     21
249     22
272     22
301     22
      ...
317    266
71     287
91     287
72     293
86     387
Name: aqi, Length: 365, dtype: int64

In [180]:
df['aqi'].sort_values(ascending=False)

86     387
72     293
71     287
91     287
317    266
      ...
249     22
301     22
272     22
271     21
281     21
Name: aqi, Length: 365, dtype: int64

### 9.2 DataFrame排序

by:字符串或者列表，单列或者多列排序

ascending:默认为True升序

inplace:是否修改原始series

#### 9.2.1 单列排序

In [181]:
df.sort_values(by='aqi')

            ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
271  2018-09-29      22      11      晴        北风   3-4级   21       优         1
281  2018-10-09      15       4   多云~晴       西北风   4-5级   21       优         1
249  2018-09-07      27      16      晴       西北风   3-4级   22       优         1
272  2018-09-30      19      13     多云       西北风   4-5级   22       优         1
301  2018-10-29      15       3      晴        北风   3-4级   22       优         1
..          ...     ...     ...    ...       ...    ...  ...     ...       ...
317  2018-11-14      13       5     多云        南风   1-2级  266    重度污染         5
71   2018-03-13      17       5   晴~多云        南风   1-2级  287    重度污染         5
91   2018-04-02      26      11     多云        北风   1-2级  287    重度污染         5
72   2018-03-14      15       6   多云~阴       东北风   1-2级  293    重度污染         5
86   2018-03-28      25       9   多云~晴        东风   1-2级  387    严重污染         6

[365 rows x 9 columns]

In [182]:
df.sort_values(by='aqi',ascending=False)

            ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
86   2018-03-28      25       9   多云~晴        东风   1-2级  387    严重污染         6
72   2018-03-14      15       6   多云~阴       东北风   1-2级  293    重度污染         5
71   2018-03-13      17       5   晴~多云        南风   1-2级  287    重度污染         5
91   2018-04-02      26      11     多云        北风   1-2级  287    重度污染         5
317  2018-11-14      13       5     多云        南风   1-2级  266    重度污染         5
..          ...     ...     ...    ...       ...    ...  ...     ...       ...
249  2018-09-07      27      16      晴       西北风   3-4级   22       优         1
301  2018-10-29      15       3      晴        北风   3-4级   22       优         1
272  2018-09-30      19      13     多云       西北风   4-5级   22       优         1
271  2018-09-29      22      11      晴        北风   3-4级   21       优         1
281  2018-10-09      15       4   多云~晴       西北风   4-5级   21       优         1

[365 rows x 9 columns]

#### 9.2.1多列排序

In [183]:
#按照空气质量等级、最高温度排序、默认升序
df.sort_values(by=['aqiLevel','bWendu'])

            ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
360  2018-12-27      -5     -12   多云~晴       西北风     3级   48       优         1
22   2018-01-23      -4     -12      晴       西北风   3-4级   31       优         1
23   2018-01-24      -4     -11      晴       西南风   1-2级   34       优         1
340  2018-12-07      -4     -10      晴       西北风     3级   33       优         1
21   2018-01-22      -3     -10  小雪~多云        东风   1-2级   47       优         1
..          ...     ...     ...    ...       ...    ...  ...     ...       ...
71   2018-03-13      17       5   晴~多云        南风   1-2级  287    重度污染         5
90   2018-04-01      25      11   晴~多云        南风   1-2级  218    重度污染         5
91   2018-04-02      26      11     多云        北风   1-2级  287    重度污染         5
85   2018-03-27      27      11      晴        南风   1-2级  243    重度污染         5
86   2018-03-28      25       9   多云~晴        东风   1-2级  387    严重污染         6

[365 rows x 9 columns]

In [185]:
#按照空气质量等级升序、最高温度降序、
df.sort_values(by=['aqiLevel','bWendu'],ascending=[True,False])

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel
178,2018-06-28,35,24,多云~晴,北风,1-2级,33,优,1
149,2018-05-30,33,18,晴,西风,1-2级,46,优,1
206,2018-07-26,33,25,多云~雷阵雨,东北风,1-2级,40,优,1
158,2018-06-08,32,19,多云~雷阵雨,西南风,1-2级,43,优,1
205,2018-07-25,32,25,多云,北风,1-2级,28,优,1
...,...,...,...,...,...,...,...,...,...
317,2018-11-14,13,5,多云,南风,1-2级,266,重度污染,5
329,2018-11-26,10,0,多云,东南风,1级,245,重度污染,5
335,2018-12-02,9,2,雾~多云,东北风,1级,234,重度污染,5
57,2018-02-27,7,0,阴,东风,1-2级,220,重度污染,5
86,2018-03-28,25,9,多云~晴,东风,1-2级,387,严重污染,6

## 10 Pandas 字符串处理


1.使用方法：先获取Serries的str属性，然后调用函数

2.只能在字符串列上使用，不能在数字使用

3.DataFrame上没有str属性和处理方法

4.Series.str并不是python 原生方法，而是自己的一套方法，不过大部分用法很像

In [186]:
df=pd.read_csv("../datas/beijing_tianqi/beijing_tianqi_2018.csv")

In [187]:
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [188]:
df.dtypes

ymd          object
bWendu       object
yWendu       object
tianqi       object
fengxiang    object
fengli       object
aqi           int64
aqiInfo      object
aqiLevel      int64
dtype: object

### 10.1 获取series的str属性，使用各种字符串处理函数

In [189]:
df['bWendu'].str

In [190]:
df['bWendu'].str.replace('℃','')

0       3
1       2
2       2
3       0
4       3
       ..
360    -5
361    -3
362    -3
363    -2
364    -2
Name: bWendu, Length: 365, dtype: object

In [191]:
df['bWendu'].str.isnumeric()

0      False
1      False
2      False
3      False
4      False
       ...
360    False
361    False
362    False
363    False
364    False
Name: bWendu, Length: 365, dtype: bool

In [193]:
#不能在数字列使用str属性，否则报错

df['aqi'].str.len()

AttributeError: Can only use .str accessor with string values!

### 10.2 使用str的startswith、contains等得到bool的Series可以做条件查询

In [194]:
condition=df['ymd'].str.startswith('2018-03')

In [195]:
condition

0      False
1      False
2      False
3      False
4      False
       ...
360    False
361    False
362    False
363    False
364    False
Name: ymd, Length: 365, dtype: bool

### 10.3 多次str处理的链式操作

In [196]:
df['ymd'].str.replace('-','')

0      20180101
1      20180102
2      20180103
3      20180104
4      20180105
         ...
360    20181227
361    20181228
362    20181229
363    20181230
364    20181231
Name: ymd, Length: 365, dtype: object

In [197]:
df['ymd'].str.replace('-','').slice(0,6)

AttributeError: 'Series' object has no attribute 'slice'

In [198]:
df['ymd'].str.replace('-','').str.slice(0,6)

0      201801
1      201801
2      201801
3      201801
4      201801
        ...
360    201812
361    201812
362    201812
363    201812
364    201812
Name: ymd, Length: 365, dtype: object

In [199]:
df['ymd'].str.replace('-','').str[0:6]

0      201801
1      201801
2      201801
3      201801
4      201801
        ...
360    201812
361    201812
362    201812
363    201812
364    201812
Name: ymd, Length: 365, dtype: object

### 10.4 使用正则表达式模式

In [200]:
#添加新列

def get_nianyueri(x):
    year,month,day=x['ymd'].split('-')
    return f"{year}年{month}月{day}日"
df['中文日期']=df.apply(get_nianyueri,axis=1)

In [201]:
df['中文日期']

0      2018年01月01日
1      2018年01月02日
2      2018年01月03日
3      2018年01月04日
4      2018年01月05日
          ...
360    2018年12月27日
361    2018年12月28日
362    2018年12月29日
363    2018年12月30日
364    2018年12月31日
Name: 中文日期, Length: 365, dtype: object

### 如何将2018年3月15日中的年、月、日去掉呢

In [202]:
#方法1：链式replace
df['中文日期'].str.replace("年",'').str.replace('月','').str.replace('日','')

0      20180101
1      20180102
2      20180103
3      20180104
4      20180105
         ...
360    20181227
361    20181228
362    20181229
363    20181230
364    20181231
Name: 中文日期, Length: 365, dtype: object

In [203]:
#方法2:正则表达式

df['中文日期'].str.replace('[年月日]','')

C:\Users\cxq\AppData\Local\Temp\ipykernel_19012\3066678173.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['中文日期'].str.replace('[年月日]','')

0      20180101
1      20180102
2      20180103
3      20180104
4      20180105
         ...
360    20181227
361    20181228
362    20181229
363    20181230
364    20181231
Name: 中文日期, Length: 365, dtype: object